.p-paginator .p-paginator-page {
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  margin: 0 2px;
}

.p-paginator .p-paginator-page.p-highlight {
  background-color: #007ad9 !important; /* Highlight color */
  color: white !important;
  border-color: #007ad9 !important;
}

.p-paginator .p-paginator-page:not(.p-highlight) {
  background-color: #e0e0e0 !important; /* Non-highlighted page color */
  color: #000 !important;
}

.p-paginator .p-paginator-page:hover {
  background-color: #005fa3 !important; /* Hover color */
  color: white !important;
}

.p-paginator .p-paginator-page.p-disabled {
  cursor: not-allowed;
  background-color: #f0f0f0;
  color: #a0a0a0;
}